.footer {
    background-color: #ffffff;
    padding: 40px 0;
    box-shadow: 0 -1px 10px black;
  }
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    height: 6rem;
    width: auto;
  }

  .logoImage {
    height: 8rem;
    width: auto;
    animation: fadeIn 0.8s ease;
  }

  .sectionTitle {

    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .menuList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menuItem {
    margin-bottom: 8px;
  }
  
  .menuItem a {
    color: black;
    transition: color 0.3s ease;
  }
  
  .menuItem a:hover {
    color: #d40000;
  }
  

.footerBottom {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
}
  
  .alignRight {
    text-align: right;
  }
  
  .socialLinks a {
    color: #a00000;
    font-size: 1.2rem;
    margin-left: 10px;
  }
  
  .navLink {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: var(--primary-red);
    font-weight: bold;
  }
  .footerNavLinks {
    
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .footerNavLinks a {
    color: #000;
    text-decoration: none;
    font-size: 1rem; 
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .footerNavLinks a:hover {
    color: var(--primary-red);
    font-weight: bold;
  }
  