.footer {
    background-color: #ffffff;
    padding:  0;
    box-shadow: 0 -1px 10px black;
     font-family: 'Roboto', sans-serif;
       font-weight: 400;
  }
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    height: 6rem;
    width: auto;
  }

  .logoImage {
  height: auto;
  width: clamp(200px, 13vw, 200px);
  object-fit: contain;
    animation: fadeIn 0.8s ease;
  }

  .sectionTitle {

    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .menuList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menuItem {
    margin-bottom: 8px;
  }
  
  .menuItem a {
    color: black;
    transition: color 0.3s ease;
  }
  
  .menuItem a:hover {
    color: #d40000;
  }
  

.footerBottom {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
}
  
  .alignRight {
    text-align: right;
  }
  
  .socialLinks a {
    color: #a00000;
    font-size: 1.2rem;
    margin-left: 10px;
  }
  
 .navLink {
  text-decoration: none;
  color: #000; /* black default */
  position: relative;
  transition: color 0.3s ease;
  font-weight: 500; /* match header nav */
}
  
  .navLink:hover {
    color: var(--primary-red);
    font-weight: bold;
  }
  .footerNavLinks {
    
    display: flex;
    align-items: center;
    gap: 24px;
  }

.navLink::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--primary-red);
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}
  .footerNavLinks a {
    color: #000;
    text-decoration: none;
    font-size: 1rem; 
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .footerNavLinks a:hover {
    color: var(--primary-red);
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
  .footerTop {
    flex-direction: column !important;
    text-align: center;
    gap: 1.5rem;
  }

  .footerNavLinks {
    flex-direction: column !important;
    align-items: center;
  }

  .navLink {
    font-size: 1rem;
  }
}
